<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css"/>
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <py-config>
    </py-config>
    <style>
.grid-list li {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 1rem;
}
    </style>
</head>
<body>
<py-script>
from pyodide.http import pyfetch, FetchResponse
from typing import Optional, Any
import asyncio  # important!!
import json

async def request(url: str, method: str = "GET", body: Optional[str] = None,
                    headers: Optional[dict[str, str]] = None, **fetch_kwargs: Any) -> FetchResponse:
    """
    Async request function. Pass in Method and make sure to await!
    Parameters:
        url: str = URL to make request to
        method: str = {"GET", "POST", "PUT", "DELETE"} from `JavaScript` global fetch())
        body: str = body as json string. Example, body=json.dumps(my_dict)
        headers: dict[str, str] = header as dict, will be converted to string...
            Example, headers=json.dumps({"Content-Type": "application/json"})
        fetch_kwargs: Any = any other keyword arguments to pass to `pyfetch` (will be passed to `fetch`)
    Return:
        response: pyodide.http.FetchResponse = use with .status or await.json(), etc.
    """
    kwargs = {"method": method, "mode": "cors"}  # CORS: https://en.wikipedia.org/wiki/Cross-origin_resource_sharing
    if body and method not in ["GET", "HEAD"]:
        kwargs["body"] = body
    if headers:
        kwargs["headers"] = headers
    kwargs.update(fetch_kwargs)

    response = await pyfetch(url, **kwargs)
    return response

baseurl = "http://127.0.0.1:8000/"
headers = {"Content-type": "application/json"}
response = await request(baseurl+"posts/", method="GET", headers=headers)
posts = await response.json()
processed_posts = '';
for post in posts:
    processed_posts += '<li><span class="title">'+post['title']+'</span>'+\
        '<span class="user">'+post['user']+'</span>'+\
        '<span class="created">'+post['created_at']+'</span></li>'
print(f'<ul class="grid-list">{processed_posts}</ul>')
</py-script>
</body>
</html>
